omnlib/src/main/resources/geni/advertisement/pc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- An extension for requesting specific properties of PCs. See http://www.geni.net/resources/rspec/ext/shared-vlan/1/ad.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:s="http://demo.fiteagle.org/pc" elementFormDefault="qualified"
	targetNamespace="http://demo.fiteagle.org/pc">
	<xs:element name="rspec_pc">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="s:pc" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pc">
		<xs:complexType>
			<xs:attribute name="cpus" type="xs:int" />
			<xs:attribute name="vmid" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>